.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}


.App-header {
  background-color: #6e99f7;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(2, 1, 1);
}



.App-link {
  color: #61dafb;
}



